header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;

    .navbar-brand {
        font-size: 30px;
        font-family: $main-font;

        @media (max-width: 992px) {
            font-size: 24px;
        }

        img {
            @media (max-width: 992px) {
                width: 45px;
            }
        }
    }

    .nav-item {
        font-size: 15px;
        font-family: $text-font;

    }

    .offsetul2 {
        margin-left: 40px;
    }

    .navbar-nav .nav-item .nav-link {
        color: #fff;
    }

    .navbar-nav .nav-item .nav-link:hover {
        color: $color-hover;
    }

}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.carousel-caption {
    bottom: 25%;
    @media (max-width: 450px) {
        bottom: 20%;
    }
    @media (min-width: 451px) and (max-width: 576px) {
        bottom: 35%;
    }
    @media (min-width: 577px) and (max-width: 992px) {
        bottom: 15%;
    }


    h2 {
        font-family: $main-font;
        font-size: 30px;
        font-weight: 500;
        text-transform: capitalize;

        @media (max-width: 576px) {
            font-size: 14px;
        }

        @media (min-width: 576px) and (max-width: 992px) {
            font-size: 24px;
        }
    }

    h1 {
        font-family: $main-font;
        font-size: 52px;
        font-weight: 800;
        text-transform: capitalize;

        @media (max-width: 576px) {
            font-size: 18px;
        }

        @media (min-width: 576px) and (max-width: 992px) {
            font-size: 32px;
        }
    }

    p {
        margin: 20px auto 40px;
        width: 500px;

        @media (max-width: 700px) {
            display: none;
        }
    }
}

.carousel-inner {
    .g-button {
        @media (max-width: 576px) {
            display: none;
        }
        @media (min-width: 576px) and (max-width: 700px) {
            margin-top: 30px;
        }

    }
}