.introduction {
    background-color: $color-bg;
}

.scrin:first-child {
    z-index: 1;
    position: relative;

    @media (max-width: 1200px) {
        position: static;
    }
}

.scrin:nth-child(2) {
    position: absolute;
    bottom: 0;
    left: -20px;

    @media (max-width: 1200px) {
        position: static;
        margin: 30px auto;
        text-align: center;
    }
}

.scrin:last-child {
    position: absolute;
    bottom: 0;
    right: -20px;

    @media (max-width: 1200px) {
        position: static;
        text-align: center;
        margin-bottom: 40px;
    }
}